.container {
 
  background: #fafafa;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.content{
   padding: 16px;

}

.header{
  color: #ffff;
}
h2 {
  font-size: 24px;
  margin-bottom: 5px;
 
}

form {
  background: #fff;
  border-radius: 8px;
  padding:16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-top: 12px;
}

input {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  margin-top: 40px;
  width: 40%;
  padding: 12px 0;
  background: #2051e5;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  
}
